<%- include('../partials/header.ejs') %>

<div class="titulo">
    <div class="ui main text container segment" style="padding-top: 30px; padding-bottom: 15px">
        <div class="ui huge header">Nueva Aplicación</div>
        <form class="ui form" action="/aplicacion/aplicaciones" method="POST">

            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <input class="form-control" id="descripcion" type="text" name="data[descripcion]" placeholder="Descripción" 
                    value="<%= data.descripcion %>">
            </div>

            <div class="form-group">
                <label for="ruta">Ruta</label>
                <input class="form-control" id="ruta" type="text" name="data[ruta]" placeholder="Ruta"
                    value="<%= data.ruta %>">
            </div>

            <input class="ui primary button" type="submit" value="Guardar">

        </form>    


    </div>
</div>

<%- include('../partials/footer.ejs') %>
